<div>
  <span class="primary-text">Made from scratch, with love
  {{#icon-badge}}
  <a href="https://github.com/ch0sen1/bwish-ember" class="hover">{{fa-icon 'heart'}}</a>
  {{/icon-badge}}
  </span>
  <span class="copy">&copy;2015 Oscar Páramo</span>
</div>
