html,
body {
  background-color: $light-grey;
  font-family: $font-stack;
  height: 100%;
  margin: 0;
  min-height: 288px;
  min-width: 275px;
  padding: 0;
}

body > .ember-view { height: 100%; }

a { cursor: pointer; }

.wrapper {
  margin: 0 auto -52px;
  min-height: 100%;
}

.main {
  margin: 32px 0;
  width: 100%;
}

.push { height: 52px; }

.footer { height: 20px; }
