<nav>
  <div>
    <span class="logo icon-text">{{fa-icon 'birthday-cake'}} Birthday Wish</span>
    <div class="primary-text">
      {{#link-to 'index'}}Home<span></span>{{/link-to}}
    </div>
  </div>
</nav>
